<div class="container-fluid text-center">
  <div id="ParentDiv">	
   <table>	
     <tr><th>HOME TEAM</th><th>HOME TEAM SCORE</th><th>AWAY TEAM SCORE</th><th>AWAY TEAM</th>
     </tr>
         <tr  *ngFor="let fixtures of this.fixtures?.fixtures">
           <td><span> {{fixtures.homeTeamName}} </span></td>
           <td><span> {{fixtures.result.goalsHomeTeam}} </span></td>
           <td><span> {{fixtures.result.goalsAwayTeam}} </span></td>
           <td><span> {{fixtures.awayTeamName}} </span></td>
         </tr>	
   </table>
 </div>
 </div>
 
