



    <div class="w3-container w3-center w3-animate-top"> 
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          
          <li><a routerLink="">RECENT MATCH RESULTS</a> </li>
          <li><a href="#">PERFORMACE</a></li>
          <li><a href="/about">ALL RESULTS</a></li>
          <li><a href="#">RIVAL COMPARISON</a></li>
          <li><a href="#">HOME VS ABROAD</a></li>

          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">TEAM SELECTOR
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="">Manchester City FC</a></li>
                <li><a href="#">Manchester United FC</a></li>
                <li><a href="#">Tottenham Hotspur FC</a></li>
                <li><a href="#">Liverpool FC</a></li>
                <li><a href="#">Chelsea FC</a></li>
                <li><a href="#">Arsenal FC</a></li>
                <li><a href="#">Burnley FC</a></li>
                <li><a href="#">Everton FC</a></li>
                <li><a href="#">Leicester City FC</a></li>
                <li><a href="#">Newcastle United FC</a></li>
                <li><a href="#">Crystal Palace FC</a></li>
                <li><a href="#">AFC Bournemouth</a></li>
                <li><a href="#">West Ham United FC</a></li>
                <li><a href="#">Watford FC</a></li>
                <li><a href="#">Brighton & Hove Albion</a></li>
                <li><a href="#">Huddersfield Town</a></li>
                <li><a href="#">Southampton FC</a></li>
                <li><a href="#">Swansea City FC</a></li>
                <li><a href="#">Stoke City FC</a></li>
                <li><a href="#">West Bromwich Albion FC</a></li>

              </ul>
            </li>

    
        </ul>
      </div>
      
    </nav>
    </div>

   <!-- 
    <div class = "col-md-2 col-centered">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Dropdown header 1</li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Dropdown header 2</li>
            <li><a href="#">About Us</a></li>
          </ul>
        </div>
      

    </div>
  -->