.navbar {
  
    background-color: rgb(0, 0, 0);
    background: black;
   border-color: black; 
  }
  
nav a:hover {
  color: rgb(255, 255, 255);
}

nav a {
 
  color: rgb(255, 255, 255);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(255, 255, 255);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 70%;
}

.col-centered
{
    float: none;
    margin: 0 auto;
}
.col-left
{
    float: left;
    margin: left;
}


.navbar-nav li{
    display: inline;
   padding-right: 130px;

  }
  
.dropdown a{

  color: rgb(12, 112, 12);
  
}

.dropdown a:hover{

  background: rgb(12, 112, 12);
  
}  
  