
<div class="container-fluid text-center">
 <div id="ParentDiv">	
	<table id="leagueTable">	
		<tr><th>Position</th><th>Logo</th><th>Name</th>
		</tr>
				<tr  *ngFor="let standing of this.standings?.standing">
					<td><span> {{standing.position}} </span></td>
					<td><span> <img src="{{standing.crestURI}}" width="50" height="50"/> </span></td>
					<td><span> {{standing.teamName}} </span></td>
				</tr>	
	</table>
</div>
</div>

