<app-parallax-head></app-parallax-head>
<app-navbar></app-navbar>


<body>


<div class = "center">
<div class = "row">
<app-ladder></app-ladder> 
</div>
<router-outlet></router-outlet>
</div>

</body>




<!--
  <h1>hello</h1>
  <p>
  <a routerLink = "/news">News</a>
  <a routerLink = "/about">Abut</a>
  </p>


  <router-outlet></router-outlet>

  -->